#chat-list {
	/*height: 420px;*/
	height: 600px;
	border: 1px solid #ccc;
	overflow-y : auto;
}
#chat-area {
	/*height: 420px;*/
	height: 600px;
	border: 1px solid #ccc;
	overflow-y : auto;
	flex-direction: column-reverse;
	display: flex;
}

#board-area {
	height: 468px;
	border: 1px solid #ccc;
	overflow-y : auto;
}

.clickdo {
	cursor : pointer;
	pointer-events : auto;
}
.unclickdo {
	pointer-events : none;
}

.wResize {
	width : 830px;
}

.selectUp {
	color : red;
	/* border : 5px solid red; */
}
