#chat-list {
	height: 468px;
	border: 1px solid #ccc;
	overflow-y : auto;
}
#chat-area {
	height: 468px;
	border: 1px solid #ccc;
	overflow-y : auto;
	flex-direction: column-reverse;
	display: flex;
}