<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="basic.domain.room.mapper.RoomMapper">
	<select id="getRoomType" parameterType="int" resultType="String">
		SELECT roomType FROM room_table WHERE roomNo = ${roomNo}
	</select>
	
	<select id="getRoomBoardList" parameterType="int" resultType="basic.domain.room.dto.RoomBoardDTO">
		SELECT * FROM room_board_table WHERE roomNo = ${roomNo}
	</select>
	
	<select id="getRoomBoardListWithLike" parameterType="int" resultType="basic.domain.room.dto.RoomBoardDTO">
		SELECT * FROM room_board_table WHERE roomNo = ${roomNo}
		<!--
		SELECT likeType, COUNT(*) AS cnt FROM room_board_likeC_table WHERE boardNo = #{boardNo}
		GROUP BY likeType
		
		
		SELECT room_board_table.*, room_board_likeC_table.likeType, room_board_likeC_table.COUNT(*) AS cnt FROM room_board_table 
		INNER JOIN room_board_likeC_table ON room_board_table.boardNo = room_board_likeC_table.boardNo
		WHERE room_board_table.roomNo = ${roomNO} GROUP BY room_board_likeC_table.likeType
		
		
		SELECT space_table.* FROM space_table
		INNER JOIN space_user_table ON space_table.spaceNo = space_user_table.spaceNo
		WHERE space_user_table.name = #{name}
		-->
	</select>

	<insert id="createBoard" parameterType="basic.domain.room.dto.RoomBoardDTO">
		INSERT INTO room_board_table(roomNo, name, title, category, content)
		VALUES(#{roomNo}, #{name}, #{title}, #{category}, #{content})
	</insert>
	
	<insert id="createRoom" parameterType="basic.domain.room.dto.RoomDTO">
		INSERT INTO room_table(roomNo, spaceNo, roomName, roomType)
		VALUES(#{roomNo}, #{spaceNo}, #{roomName}, #{roomType})
	</insert>
	
	<delete id="deleteRoom" parameterType="int">
		DELETE FROM room_board_table WHERE boardNo = #{boardNo}
	</delete>
</mapper>
